<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login Page | Games Challenge</title>
</head>
<body>
    <main>
            
            <form action="/login" method="post">
                <h1>
                    Login Your Account Here
                </h1>
                <input name="email" type="email" placeholder="Your Email" size="40">
                <br><br>
                <input name="password" type="password" placeholder="Your Password" size="40">
                <br><br>
                <button>Login Your Account</button>
            </form>
        
      </main>
</body>
</html>
