<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    <title>Registration Page</title>
</head>
<body>
   
      <main>
            <form action="/registration" method="post">
                <h1>
                    Create Your Account Here
                </h1>
                <input name="firstName" type="text" placeholder="Your First Name" >
                <br><br>
                <input name="lastName" type="text" placeholder="Your Last Name" >
                <br><br>
                <input name="city" type="text" placeholder="Your City" >
                <br><br>
                <input name="email" type="email" placeholder="Your Email" >
                <br><br>
                <input name="password" type="text" placeholder="Your Password" size="40">
                <br><br>
                <button>Create Account</button>
            </form>
      </main>
    
</body>
</html>
